###parse("../decorators/frame/left.vm")
##<link href="/static/plugins/imgareaselect/css/imgareaselect-default.css" rel="stylesheet">
##<link href="/static/plugins/personal-center/manage.css" rel="stylesheet">
##<script src="/static/plugins/imgareaselect/scripts/jquery.imgareaselect.js"></script>
##<script src="/static/plugins/personal-center/manage.js"></script>
<style>
   div.code{
        padding-top: 20px;
        margin-bottom: 20px;
    }
    #downloadQRCode{
        display: inline-block;
        width: 80px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin-left: 20px;
        background: inherit;
        background-color: rgba(22, 155, 213, 1);
        border: none;
        border-radius: 5px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-family: 'PingFangSC-Regular', 'PingFang SC';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
    }
</style>
<div class="manageAdd" id="materialDownloading">

    <div class="code">
        <span class="text">门店二维码:</span>
        <div style="display: inline-block;vertical-align: middle;width: 200px;height: 200px;">
            <img src="/static/service/images/login/backgroung.png" id="QRCodeImg" alt="加载二维码失败"
                 style="vertical-align: middle;width: 200px;height: 200px;">
        </div>

        <div id="downloadQRCode">下载</div>
    </div>

</div>
<script>

    $.ajax({
        type: "post",
        url: "/system/store/getStoreQrCode",
        cache: false,  //禁用缓存
//        headers: {"Content-type": "text/plain;charset=utf-8"},
        dataType: "json",
        success: function (result) {
            console.log(result)
            if (result.success) {
                if(result.filePath){
                    $("#QRCodeImg").attr("src",result.filePath);
                }else{
                    $("#QRCodeImg").attr("src","");
                    $.MsgBox.Alert("温馨提示", "该账号没有门店。");
                }

            }
        }
    })
    $("#downloadQRCode").off("click");
    $("#downloadQRCode").on("click", function () {
        downloadImg();
    })
</script>






