###parse("../decorators/frame/left.vm")
##<link href="/static/plugins/imgareaselect/css/imgareaselect-default.css" rel="stylesheet">
<link href="/static/plugins/personal-center/manage.css" rel="stylesheet">
##<script src="/static/plugins/imgareaselect/scripts/jquery.imgareaselect.js"></script>
<script src="/static/plugins/personal-center/manage.js"></script>

<div class="manageAdd" id="manageAdd">
    <div class="manangeAddCon">
        <div class="closeBtn" id="closeBtn">✖</div>
        <div class="formContain">

            <div style="background-color: #fff;">
                <div style="position: relative;left: 15px;top:-10px;font-size: 14px;">
                    活动ID： <span style="display: inline-block;margin-right: 10px;" id="actId"></span>
                    活动名称：<span style="display: inline-block;margin-right: 10px;" id="actName"></span>
                    领奖者类型：<span style="display: inline-block;margin-right: 10px;" id="rewardType"></span>
                </div>
                <table id="example1" class="display"border="1">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>领取者类型</th>
                        <th>券码</th>
                        <th>核销状态</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="width: 100%;height: 100%;">
##    <div class="addAccount" id="addAccount">添加账号</div>
    <div style="background-color: #fff;">
        <table id="example" class="display" style="width:100%" border="1">
            <thead>
            <tr>
                <th></th>
                <th>活动id</th>
                <th>活动开始时间</th>
                <th>活动名称</th>
                <th>状态</th>
                <th>奖励形式</th>
                <th>领取者类型</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>


</div>






