###parse("../decorators/frame/left.vm")
##<link href="/static/plugins/imgareaselect/css/imgareaselect-default.css" rel="stylesheet">
<link href="/static/plugins/personal-center/manage.css" rel="stylesheet">
##<script src="/static/plugins/imgareaselect/scripts/jquery.imgareaselect.js"></script>
<script src="/static/plugins/personal-center/manage.js"></script>


<div>
    <div class="manageAdd" id="manageAdd">
        <input type="hidden" data-actid="" data-commonrtype="" id="saveStatusL">
        <div class="manangeAddCon">
            <div class="closeBtn" id="closeBtn">✖</div>
            <div class="formContain">

                <div style="background-color: #fff;width: calc(100% - 80px);margin: 0 auto;">
                    <div style="position: relative;left: 15px;top:-10px;font-size: 16px;">
                        活动编号： <span style="display: inline-block;margin-right: 10px;" id="actId"></span>
                        活动名称：<span style="display: inline-block;margin-right: 10px;" id="actName"></span>
                        领奖者类型：<span style="display: inline-block;margin-right: 10px;" id="rewardType"></span>
                        <span class="appendReward">追加</span>
                    </div>
                    <table id="example1" class="display">
                        <thead>

                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="appendLog">
        ##        <div class="closeBtn" id="closeBtn1">✖</div>
            <div style="text-align: center;margin-top: 60px;margin-bottom: 30px;">
                <span>请输入要追加的奖品数量</span>
                <a style="display: inline-block;vertical-align: middle;">
                    <input type="number" min="1" value="1" name="rewardNums" class="form-control" style="text-align: left;">
                </a>
            </div>
            <div class="modal-footer" style="text-align: center;border: 0px;">
                <button type="button" class="btn btn-primary" id="submitBtn">提 交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeBtn1">取 消
                </button>
            </div>
        </div>
    </div>
##    <div class="addAccount" id="addAccount">添加账号</div>
    <div class="searchPar">
    ##            <div class="addAccount" id="addAccount" style="float: left;">新建</div>
        <div class="search" style="float: right;">
            <select name="" id="selectStatus" class="form-control" style="">
                <option value="" selected>选择活动状态</option>
                <option value="1">进行中</option>
                <option value="2">已结束</option>
                <option value="0">未开始</option>
            </select>
            <select name="" id="selectType" class="form-control" style="">
                <option value="" selected>领取者类型</option>
                <option value="1">发起邀请</option>
                <option value="2">助力有奖</option>
            </select>
            <input type="text" id="inputKeyword" class="form-control" placeholder="请输入活动标题关键词搜索">
            <span id="selectBtn">搜索</span>
        </div>
    </div>
    <div style="background-color: #fff;margin: 20px;">

        <table id="example" class="display" style="width:100%;">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>活动编号</th>
                <th>活动开始时间</th>
                <th>活动名称</th>
                <th>状态</th>
                <th>奖励形式</th>
                <th>领取者类型</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>


</div>






