###parse("../decorators/frame/left.vm")


<!DOCTYPE HTML>
<html>
<head>
    <title>分销e</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache" content="no-cache">
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="x-ua-compatible" content="IE=Edge, chrome=1"/>
    <style>
        html, body {
            height: 100%;
            overflow: hidden;
        }
    </style>
    <link href="/static/service/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/static/plugins/dataTables/datatables.css"/>
##<link rel="stylesheet"  href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
##<link href="/static/service/css/style.css?v=20170703154841" rel='stylesheet' type='text/css'/>
    <link href="/static/plugins/css/commonStyle.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/plugins/css/jquery-confirm.css" type="text/css"/>
    <link rel="stylesheet" href="/static/plugins/css/jquery-ui.min.css" type="text/css"/>
    <script type="text/javascript" src="/static/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/plugins/messages_zh.js"></script>
    <script type="text/javascript" src="/static/plugins/md5.js"></script>
    <script type="text/javascript" src="/static/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/plugins/jquery-confirm.js"></script>
    <script type="text/javascript" src="/static/plugins/jquery-ui.min.js"></script>
##<script type="text/javascript" src="/static/plugins/baidu-statistics.js"></script>
##<script type="text/javascript" src="/static/common/js/application-common.js?v=20170703154841"></script>
##<script type="text/javascript" src="/static/plugins/common.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
##<script src="/static/plugins/bootstrap.min.js"></script>
##<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/plugins/laydate/laydate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.min.js"></script>
##<script src="/static/plugins/echarts.min.js"></script>
    <script src="/static/plugins/common/d3.js"></script>
    <script src="/static/plugins/dataTables/datatables.js"></script>
##<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link href="/static/plugins/imgareaselect/css/imgareaselect-default.css" rel="stylesheet">
    <link href="/static/plugins/personal-center/manage.css" rel="stylesheet">
    <script src="/static/plugins/imgareaselect/scripts/jquery.imgareaselect.js"></script>
</head>

<body>
<div style="margin: 0;background-color: #ccc;height: 100%;">
    <div id="page-wrapper" class="person-edit-form" style="height: 100%;">
        <div class="main-page" style="display: flex;height: 100%;">
            <div style="width: 100%;height: 100%;">
                <div id="user_manage">
                    <div id="main-contain" class="contain_main" style="height: 100%;">

                        <div class="manageAdd" id="manageAdd">
                            <div class="manangeAddCon">
                            ##                <div class="closeBtn" id="closeBtn">✖</div>
                                <div class="formContain">
                                    <form id="formsearch">
                                        <p>
                                            <span class="text">活动id:</span>
                                            <a href="#" class="anchorss" onclick="anchorss('storeId')">
                                                <input type="number" name="storeId" class="form-control" min="1" onblur="exitId(this)"/>
                                            </a>
                                        </p>
                                        <p>
                                            <span class="text">活动标题:</span>
                                            <a href="#" class="anchorss" onclick="anchorss('storeTitle')">
                                                <input type="text" name="storeTitle" class="form-control" onblur="fieldLength(this)"/>
                                            </a>
                                        </p>
                                        <p>
                                            <span class="text">分享标题:</span>
                                            <a href="#" class="anchorss" onclick="anchorss('shareTitle')">
                                                <input type="text" name="shareTitle" class="form-control"/>
                                            </a>
                                        </p>
                                        <p>
                                            <span class="text">海报文案:</span>
                                            <a href="#" class="anchorss" onclick="anchorss('posterCopywriting')">
                                                <input type="text" name="posterCopywriting" class="form-control"/>
                                            </a>
                                        </p>
                                        <p>
                                            <span class="text">邀请按钮:</span>
                                            <a href="#" class="anchorss" onclick="anchorss('invitingButton')">
                                                <input type="text" name="invitingButton" class="form-control"/>
                                            </a>
                                        </p>
                                        <p>
                                            <span class="text">助力按钮:</span>
                                            <a href="#" class="anchorss" onclick="anchorss('helpButton')">
                                                <input type="text" name="helpButton" class="form-control"/>
                                            </a>
                                        </p>
                                        <p>
                                            <span class="text">已助力按钮:</span>
                                            <a href="#" class="anchorss" onclick="anchorss('boosterButton')">
                                                <input type="text" name="boosterButton" class="form-control"/>
                                            </a>
                                        </p>
                                        <p>
                                            <span class="text">助力已满按钮:</span>
                                            <a href="#" class="anchorss" onclick="anchorss('fullHelpButton')">
                                                <input type="text" name="fullHelpButton" class="form-control"/>
                                            </a>
                                        </p>
                                        <p>
                                            <span class="text">海报图片:</span>
                                            <a href="#" class="anchorss" onclick="anchorss('posterImage')">
                                                <span class="upImage form-control" id="upImage">上传图片</span>
                                                <input id="file" type="file" class="btn btn-primary" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" name="uploadPicture" value="上传图片"  onchange="changepic(this)"/>
                                            </a>
                                            <span style="display: inline-block;">
                                <img src="" id="show" height="200">
                            </span>
                                        </p>
                                        <p>
                                            <span class="text">活动规则:</span>
                                            <a href="#" class="anchorss" onclick="anchorss('activityRules')" >
                                <textarea name="" id="" name="activityRules" >

                                </textarea>
                                            </a>
                                        </p>
                                        <p>
                                            <span class="text">助力已满按钮:</span>
                                            <a href="#" class="anchorss actTimes" onclick="anchorss('activityTimes')">
                                                <input type="text" name="startTimes" class="form-control"  placeholder="开始时间" id="startTime"/>
                                                至 <input type="text" name="endTimes" class="form-control" placeholder="结束时间" id="endTime" />
                                            </a>
                                        </p>
                                        <div class="modal-footer" style="text-align: center;border: 0px;">
                                            <button type="button" class="btn btn-primary" id="submitBtn">提 交</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal" id="closeBtn">取 消
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="explainInfos">
                                    <div style="height: 200px;width: 100%;overflow-y: auto; margin-top: 50%;background-color: #ccc;">
                                        <div style="height: 300px;">
                                            <a href="javascript:void(0)" id="storeId">活动id</a>
                                        </div>
                                        <div style="height: 300px;">
                                            <a href="javascript:void(0)" id="storeTitle">活动标题</a>
                                        </div>
                                        <div style="height: 300px;">
                                            <a href="javascript:void(0)" id="shareTitle">分享标题</a>
                                        </div>
                                        <div style="height: 300px;">
                                            <a href="javascript:void(0)" id="posterCopywriting">海报文案</a>
                                        </div>
                                        <div style="height: 300px;">
                                            <a href="javascript:void(0)" id="invitingButton">邀请按钮</a>
                                        </div>

                                        <div style="height: 300px;">
                                            <a href="javascript:void(0)" id="helpButton">助力按钮</a>
                                        </div>
                                        <div style="height: 300px;">
                                            <a href="javascript:void(0)" id="boosterButton">已助力按钮</a>
                                        </div>
                                        <div style="height: 300px;">
                                            <a href="javascript:void(0)" id="fullHelpButton">助力已满按钮</a>
                                        </div>
                                        <div style="height: 300px;">
                                            <a href="javascript:void(0)" id="posterImage">海报图片</a>
                                        </div>
                                        <div style="height: 300px;">
                                            <a href="javascript:void(0)" id="activityRules">活动规则</a>
                                        </div>
                                        <div style="height: 300px;">
                                            <a href="javascript:void(0)" id="activityTimes">活动时间</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="width: 100%;height: 100%;">
                            <div class="addAccount" id="addAccount">添加账号</div>
                            <div style="background-color: #fff;">
                                <table id="example" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>门店账号</th>
                                        <th>门店密码</th>
                                        <th>门店地址</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th>时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011/04/25</td>
                                        <td>$320,800</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Garrett Winters</td>
                                        <td>Accountant</td>
                                        <td>Tokyo</td>
                                        <td>63</td>
                                        <td>2011/07/25</td>
                                        <td>$170,750</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Ashton Cox</td>
                                        <td>Junior Technical Author</td>
                                        <td>San Francisco</td>
                                        <td>66</td>
                                        <td>2009/01/12</td>
                                        <td>$86,000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Cedric Kelly</td>
                                        <td>Senior Javascript Developer</td>
                                        <td>Edinburgh</td>
                                        <td>22</td>
                                        <td>2012/03/29</td>
                                        <td>$433,060</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Airi Satou</td>
                                        <td>Accountant</td>
                                        <td>Tokyo</td>
                                        <td>33</td>
                                        <td>2008/11/28</td>
                                        <td>$162,700</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Brielle Williamson</td>
                                        <td>Integration Specialist</td>
                                        <td>New York</td>
                                        <td>61</td>
                                        <td>2012/12/02</td>
                                        <td>$372,000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Herrod Chandler</td>
                                        <td>Sales Assistant</td>
                                        <td>San Francisco</td>
                                        <td>59</td>
                                        <td>2012/08/06</td>
                                        <td>$137,500</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Rhona Davidson</td>
                                        <td>Integration Specialist</td>
                                        <td>Tokyo</td>
                                        <td>55</td>
                                        <td>2010/10/14</td>
                                        <td>$327,900</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Colleen Hurst</td>
                                        <td>Javascript Developer</td>
                                        <td>San Francisco</td>
                                        <td>39</td>
                                        <td>2009/09/15</td>
                                        <td>$205,500</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Sonya Frost</td>
                                        <td>Software Engineer</td>
                                        <td>Edinburgh</td>
                                        <td>23</td>
                                        <td>2008/12/13</td>
                                        <td>$103,600</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Jena Gaines</td>
                                        <td>Office Manager</td>
                                        <td>London</td>
                                        <td>30</td>
                                        <td>2008/12/19</td>
                                        <td>$90,560</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Quinn Flynn</td>
                                        <td>Support Lead</td>
                                        <td>Edinburgh</td>
                                        <td>22</td>
                                        <td>2013/03/03</td>
                                        <td>$342,000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Charde Marshall</td>
                                        <td>Regional Director</td>
                                        <td>San Francisco</td>
                                        <td>36</td>
                                        <td>2008/10/16</td>
                                        <td>$470,600</td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
<script src="/static/plugins/personal-center/manage.js"></script>
</html>











