###parse("../decorators/frame/left.vm")
<link href="/static/plugins/store-manage/manage.css" rel="stylesheet">
<script src="/static/plugins/distpicker/distpicker.data.js"></script>
<script src="/static/plugins/distpicker/distpicker.js"></script>
<script src="/static/plugins/store-manage/manage.js"></script>


<div>
    <div class="manageAdd" id="manageAdd">
        <div class="manangeAddCon">
            <div class="formContain">
                <form id="formsearch">
                    <div>
                        <span class="text">店铺名称:</span>
                        <input type="text" name="storeName" class="form-control" onblur="exitNameNull(this)"/>
                    </div>
                    <div>
                        <span class="text">地址:</span>
                        <input type="text" name="storeAddress" class="form-control"onblur="exitNameNull(this)"/>
                    </div>
                    <div>
                        <span class="text">状态:</span>
                        <select name="storeStatus" id="" class="form-control">
                            <option value="1">正常营业</option>
                            <option value="0">暂停营业</option>
                        </select>
                    </div>
                    <div>
                        <span class="text">店长:</span>
                        <input type="text" name="manager" class="form-control" onblur="exitNameNull(this)"/>
                    </div>
                    <div>
                        <span class="text">联系电话:</span>
                        <input type="tel" name="storePhone" class="form-control" onblur="exitNameNull(this)"/>
                    </div>
                    <div>
                        <span class="text">账号:</span>
                        <input type="text" name="storeUser" class="form-control" onblur="exitNameNull(this)"/>
                    </div>
                    <div>
                        <span class="text">密码:</span>
                        <input type="password" name="storePassword" class="form-control" onblur="exitNameNull(this)"/>
                    </div>
                    <div class="modal-footer" style="text-align: center;border: 0px;">
                        <button type="button" class="btn btn-primary" id="submitBtn">提 交</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeBtn">取 消
                        </button>
                    </div>
                </form>
                <form id="formsearch1" style="display: none;">
                    <input type="hidden" data-storeid="" id="dataStoreId">
                    <div>
                        <span class="text">密码:</span>
                        <input type="password" name="storePassword1" class="form-control" onblur="exitNameNull(this)"/>
                    </div>
                    <div class="modal-footer" style="text-align: center;border: 0px;">
                        <button type="button" class="btn btn-primary" id="submitBtn1">提 交</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeBtn2">取 消
                        </button>
                    </div>
                </form>
                <div id="storeQRCode" style="width: 80%;margin: 0 auto;">
                    <div class="code">
                        <span class="text">门店二维码:</span>
                        <div style="display: inline-block;width: 200px;height: 200px;vertical-align: middle;">
                            <img src="/static/service/images/login/backgroung.png" id="QRCodeImg" alt="二维码加载失败" style="width: 200px;height: 200px;">
                        </div>
                        <div id="downloadQRCode">下载</div>
                    </div>

                    <div class="modal-footer" style="text-align: center;border: 0px;">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeBtn1">取 消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="addAccount" id="addAccount">添加账号</div>
    <div class="dataTables" style="">
        <table id="example" class="display" style="width:100%">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>编号</th>
                <th>门店名称</th>
                <th>地址</th>
##                <th>状态</th>
                <th>账号</th>
##                <th>联系电话</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>


</div>




