###parse("../decorators/frame/left.vm")
<link href="/static/plugins/store-manage/manage.css" rel="stylesheet">
<script src="/static/plugins/distpicker/distpicker.data.js"></script>
<script src="/static/plugins/distpicker/distpicker.js"></script>
<script src="/static/plugins/store-manage/manage.js"></script>

<div class="manageAdd" id="manageAdd">
    <div class="manangeAddCon">
    ##                <div class="closeBtn" id="closeBtn">✖</div>
        <div class="formContain">
            <form id="formsearch">
                <div>
                    <span class="text">店铺名称:</span>
                    <input type="text" name="storeName" class="form-control" onblur="exitNameNull(this)"/>
                </div>
                <div>
                    <span class="text">地址:</span>
                    <input type="text" name="storeAddress" class="form-control"onblur="exitNameNull(this)"/>
                ##                            <div id="distpicker">
                ##                                <div class="form-group">
                ##                                    <label class="sr-only" for="province2">Province</label>
                ##                                    <select class="form-control" name="province" id="province2" data-province="---- 选择省 ----"></select>
                ##                                </div>
                ##                                <div class="form-group">
                ##                                    <label class="sr-only" for="city2">City</label>
                ##                                    <select class="form-control" name="city" id="city2" data-city="---- 选择市 ----"></select>
                ##                                </div>
                ##                                <div class="form-group">
                ##                                    <label class="sr-only" for="district2">District</label>
                ##                                    <select class="form-control" name="district" id="district2" data-district="---- 选择区 ----"></select>
                ##                                </div>
                ##                            </div>
                </div>
                <div>
                    <span class="text">状态:</span>
                    <select name="storeStatus" id="" class="form-control">
                        <option value="1">正常营业</option>
                        <option value="0">暂停营业</option>
                    </select>
                </div>
                <div>
                    <span class="text">店长:</span>
                    <input type="text" name="manager" class="form-control" onblur="exitNameNull(this)"/>
                </div>
                <div>
                    <span class="text">联系电话:</span>
                    <input type="tel" name="storePhone" class="form-control" onblur="exitNameNull(this)"/>
                </div>
                <div>
                    <span class="text">账号:</span>
                    <input type="text" name="storeUser" class="form-control" onblur="exitNameNull(this)"/>
                </div>
                <div>
                    <span class="text">密码:</span>
                    <input type="password" name="storePassword" class="form-control" onblur="exitNameNull(this)"/>
                </div>

            ##                        <div>
            ##                            <span class="text">详细地址:</span>
            ##                        ##                            <input type="text" name="storeAddress" class="form-control"/>
            ##                            <textarea name="detailAddress" id="" style="width: 74%;height: 80px;display: inline-block;  vertical-align: middle;" class="form-control"></textarea>
            ##                        </div>
                <div class="modal-footer" style="text-align: center;border: 0px;">
                    <button type="button" class="btn btn-primary" id="submitBtn">提 交</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closeBtn">取 消
                    </button>
                </div>
            </form>
            <form id="formsearch1" style="display: none;">
                <input type="hidden" data-storeid="" id="dataStoreId">
                <div>
                    <span class="text">密码:</span>
                    <input type="password" name="storePassword1" class="form-control" onblur="exitNameNull(this)"/>
                </div>
                <div class="modal-footer" style="text-align: center;border: 0px;">
                    <button type="button" class="btn btn-primary" id="submitBtn1">提 交</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closeBtn2">取 消
                    </button>
                </div>
            </form>
            <div id="storeQRCode" style="width: 80%;margin: 0 auto;">
                <div class="code">
                    <span class="text">门店二维码:</span>
                    <div style="display: inline-block;width: 200px;height: 200px;vertical-align: middle;">
                        <img src="/static/service/images/login/backgroung.png" id="QRCodeImg" alt="二维码加载失败" style="width: 200px;height: 200px;">
                    </div>
                    <div id="downloadQRCode">下载</div>
                </div>

                <div class="modal-footer" style="text-align: center;border: 0px;">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closeBtn1">取 消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="width: 100%;height: 100%;">
    <div class="addAccount" id="addAccount">添加账号</div>
    <div class="dataTables" style="">
        <table id="example" class="display" style="width:100%">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>编号</th>
                <th>门店名称</th>
                <th>地址</th>
                <th>状态</th>
                <th>店长</th>
                <th>联系电话</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>


</div>




