###parse("../decorators/frame/left.vm")
##<link href="/static/plugins/imgareaselect/css/imgareaselect-default.css" rel="stylesheet">
<link href="/static/plugins/activity-manage/manage.css" rel="stylesheet">
##<script src="/static/plugins/imgareaselect/scripts/jquery.imgareaselect.js"></script>
<script src="/static/plugins/activity-manage/manage.js"></script>

<div class="manageAdd" id="manageAdd">
    <div class="manangeAddCon">
                                <div class="closeBtn closeBtn1" id="closeBtn">✖</div>
        <div class="formContain">
            <div class="titless">新建活动</div>
            <form id="formsearch" enctype="multipart/form-data">
                <p>
                    <span class="text">活动标题:</span>
                    <a class="anchorss">
                        <input type="text" name="storeTitle" class="form-control" placeholder="展示在小程序顶部，10个字以内"/>
                    </a>
                </p>
##                <p>
##                    <span class="text">活动类型:</span>
##                    <a  class="anchorss" onclick="anchorss('activityType')">
##                        <span class="radios"><input type="radio" name="activityType" id="helps" value="1"
##                                                    checked="checked"/><label for="helps">助力</label></span>
##                        <span class="radios"><input type="radio" name="activityType" id="collages" value="2"
##                                                    disabled="disabled"/><label for="collages">拼团</label></span>
##                        <span class="radios"><input type="radio" name="activityType" id="cutDownPrice" value="3"
##                                                    disabled="disabled"/><label for="cutDownPrice">砍价</label></span>
##                    </a>
##                </p>
                <p>
                    <span class="text">活动海报:</span>
                    <a class="anchorss">
                        <span class="upImage form-control" id="upImage">上传图片</span>
                        <input id="file" type="file" class="btn btn-primary" alt="海报图片加载失败"
                               accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" name="uploadPicture"
                               value="上传图片" onchange="changepic(this)"/>
                    </a>
                    <p  style="display: none;width: 100%;text-align: center;">
                                <img src="" id="show" height="200">
                            </p>
                </p>
                <p>
                    <span class="text">邀请按钮文案:</span>
                    <a class="anchorss">
                        <input type="text" name="invitingButton" class="form-control" placeholder="简单概括活动内容，18个字以内"/>
                    </a>
                </p>
##                <p>
##                    <span class="text">助力按钮:</span>
##                    <a class="anchorss" >
##                        <input type="text" name="helpButton" class="form-control" onblur="fieldLength(this)"/>
##                    </a>
##                </p>
##                <p>
##                    <span class="text">已助力按钮:</span>
##                    <a class="anchorss">
##                        <input type="text" name="boosterButton" class="form-control" onblur="fieldLength(this)"/>
##                    </a>
##                </p>
##                <p>
##                    <span class="text">助力已满按钮:</span>
##                    <a class="anchorss" >
##                        <input type="text" name="fullHelpButton" class="form-control" onblur="fieldLength(this)"/>
##                    </a>
##                </p>
##                <p>
##                    <span class="text">参加活动按钮:</span>
##                    <a class="anchorss">
##                        <input type="text" name="partsActivity" class="form-control" onblur="fieldLength(this)"/>
##                    </a>
##                </p>
                <p>
                    <span class="text">活动玩法说明:</span>
                    <a class="anchorss">
                        <input type="text" name="posterCopywriting" class="form-control"  placeholder="说明达标条件和奖励，36个字以内"/>
                    </a>
                </p>
                <p>
                    <span class="text">活动规则:</span>
                    <a class="anchorss">
                                <textarea id="" name="activityRules"></textarea>
                    </a>
                </p>
                <p>
                    <span class="text">活动时间:</span>
                    <a class="anchorss actTimes">
                        <input type="text" name="startTimes" class="form-control" placeholder="开始时间" id="startTime"/>
                        至 <input type="text" name="endTimes" class="form-control" placeholder="结束时间" id="endTime"/>
                    </a>
                </p>
                <p>
                    <span class="text">助力目标:</span>
                    <a class="anchorss">
                        <input type="number" name="helpNumber" min="1" value="1" class="form-control"/>
                    </a>
                </p>
                <p>
                    <span class="text">分享标题:</span>
                    <a class="anchorss">
                        <input type="text" name="shareTitle" class="form-control" placeholder="小程序转发到会话中展示的标题，26个字以内"/>
                    </a>
                </p>
##                <p>
##                    <span class="text">助力是否有奖:</span>
##                    <a class="anchorss">
##                                    <span class="radios"><input type="radio" name="activityType" id="helps" value="1"
##                                                                checked="checked"/><label for="helps">是</label></span>
##                        <span class="radios"><input type="radio" name="activityType" id="collages" value="2"
##                                                    disabled="disabled"/><label for="collages">否</label></span>
##                    </a>
##                </p>
                <p>
                    <span class="text">邀请奖励:</span>
                    <a class="anchorss">
                        <input type="text" name="invitingAwards" class="form-control" placeholder="自由设置，领取后按设置核销，如:满199减30"/>
                    </a>
                </p>
                <p>
                    <span class="text">邀请奖励数量:</span>
                    <a class="anchorss">
                        <input type="number" name="invitingAwardsNum" min="1" value="1" class="form-control"/>
                    </a>
                </p>
                <p>
                    <span class="text">助力奖励:</span>
                    <a class="anchorss">
                        <input type="text" name="aidReward" class="form-control" placeholder="应比邀请奖励小，以刺激转发，如:满199减10"/>
                    </a>
                </p>

                <div class="modal-footer" style="text-align: center;border: 0px;">
                    <button type="button" class="btn btn-default closeBtn1" data-dismiss="modal" id="closeBtn">取 消</button>
                    <button type="button" class="btn btn-primary" id="submitBtn">提 交</button>
                </div>
            </form>
        </div>
        <div class="explainInfos">
            <div class="titless">样例</div>
            <div class="" style="width: 100%;">
                <img src="/static/service/images/activRule.jpg" alt="" style="width: 100%;">
            </div>
        </div>
    </div>
</div>
<div style="width: 100%;height: 100%;">
    <div class="addAccount" id="addAccount">新建</div>
    <input type="hidden" data-curr-actid="" id="currentActId">
    <div class="dataTables" style="background-color: #fff;">
        <table id="example" class="display" style="width:100%;">
            <thead>
            <tr>
                <th></th>
                <th>活动id</th>
                <th>活动标题</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>




</div>






